<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style media="screen">
    div{
      width: 200px;
    }
    textarea{
      resize: none;
    }
    </style>
    <title>Cifrado César</title>
  </head>
  <body>
    <h1>Cifrado César</h1>
    <div class="">
      <fieldset>
        <form class="" action="../dynamics/php/Cesar.php" method="post">
          <textarea name="mensaje" rows="8" cols="80" resize= none>Ingrese su mensaje  </textarea><br>
          <input type="submit" name="" value="Mágia">
        </form>
      </fieldset>
    </div>
  </body>
</html>
